:root{
    --device-view: left;
    --rotate-angle: 0deg;
}
.device-view {
    float: var(--device-view) !important;
}

.control-button[title="Align"] path{
    transform-origin: center;
    transform: rotate(var(--rotate-angle));
}

.control-button.device-view-mid[title="Align"] path{ 
    d: path("M1649.777778 199.054222v56.888889h-625.777778v-56.888889z m-625.777778 568.888889h625.777778v56.888889h-625.777778z m512-312.888889v113.777778h-398.222222v-113.777778z");
}
